{% load static %}{% load i18n %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
{% trans 'Wine form' %}
    </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
{% block head %}
{% endblock %}

{% block body %}
{% endblock %}
</body>